name: Server production deployment
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.API_KEY}}
          heroku_app_name: "by-bike-server"
          heroku_email: ${{secrets.EMAIL}}
